In [7]:
# 같은 이름의 함수를 만들지 못한다.
# 함수명과 변수명이 같아서는 안된다.
def sum11(* para): # *연산자는 인자값을 튜플로 받도록 한다.
    print(para)
    sum1 = 0
    for num in para:
        sum1 += num
    print(sum1)

In [8]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5,6,7)

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5, 6, 7)
28

In [16]:
def sum14(* para):
    sum1 = 0
    if para[0] == "add":
        for idx in range(1, len(para)):
            sum1 += para[idx]
    elif para[0] == "sub":
        for num in para[1:]:
            sum1 -= num
    elif para[0] == "mul":
        for num in para[1:]:
            sum1 *= num
    else:
        for num in para[1:]:
            sum1 /= num
    print(sum1)

In [17]:
sum14('add',2,4,5,6,7)
sum14('mul',2,3,4,5,6,7,8)

24

In [20]:
def sum14(opt,* para ):
    sum1 = 1
    if opt == "add":
        for num in para:
            sum1 += num
    elif opt == "sub":
        for num in para:
            sum1 -= num
    elif opt == "mul":
        for num in para:
            sum1 *= num
    else:
        for num in para:
            sum1 /= num
    print(sum1)

In [21]:
sum14('add',2,4,5,6,7)
sum14('mul',2,3,4,5,6,7,8)

25
40320

In [22]:
def dic1(** para): ## **은 딕셔너리로 받는다.
    print(para)

In [24]:
dic1(a = 1)
dic1(a = '이', b ='숭', c='무')

{'a': 1}
{'a': '이', 'b': '숭', 'c': '무'}

In [25]:
def dic1(age , ** para):
    print(age)
    print(para)

In [26]:
dic1(35, name = '이숭무', old = 40, height = 173.5)

35
{'name': '이숭무', 'old': 40, 'height': 173.5}

In [27]:
# parameter이름을 이용해서 값을 전달
def sum12(start , end):
    sum1 = 0
    for num in range(start, end + 1):
        sum1 += num
    print(sum1)

In [30]:
sum12(1, 100)
sum12(start = 1, end = 100)
sum12(end = 100, start=1)

5050
5050
5050

In [31]:
def calc(opt, num1, num2):
    if opt == 'add':
        result = num1 + num2
    elif opt == 'sub':
        result = num1 - num2
    elif opt == 'mul':
        result = num1 * num2
    else:
        result = num1 / num2
    print(result)

In [34]:
calc('add', 10, 20)
calc('mul', num2 = 3, num1 = 10)
#calc(num2 = 3, 'mul',  num1 = 10)

30
30

In [35]:
#### 매개변수에 초깃값 미리 설정하기 
def my_salf(name, old, man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}살입니다.")
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")

In [36]:
my_salf("이숭무", 35, True)

나의 이름은 이숭무입니다.
나의 나이는 35살입니다.
나는 남자입니다.

In [38]:
def my_salf(name, old, man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}살입니다.")
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")

In [44]:
my_salf("이숭무", 35, True)
my_salf("이숭무", 35)
my_salf("오연의", 55,  False)
# my_salf(old = 35, name= "오연의",  False)
my_salf(old = 35, name= "오연의",  man=False)
my_salf(old = 35, name= "오연의")

나의 이름은 이숭무입니다.
나의 나이는 35살입니다.
나는 남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35살입니다.
나는 남자입니다.
나의 이름은 오연의입니다.
나의 나이는 55살입니다.
나는 여자입니다.
나의 이름은 오연의입니다.
나의 나이는 35살입니다.
나는 여자입니다.
나의 이름은 오연의입니다.
나의 나이는 35살입니다.
나는 남자입니다.

In [46]:
'''
def my_salf(name = '이숭무', old, man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}살입니다.")
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")
my_salf(36)
'''
print()

In [ ]:
'''
def my_salf(name, old = 35 , man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}살입니다.")
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")
my_salf('이숭무', True)
'''

In [47]:
def my_salf(name, old = 35 , man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}살입니다.")
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")
# 매개변수의 초기값은 앞에서부터나 중간에부터는 초기값을 지정할 수 없다.
# 초기값을 지정하려면 뒤에서부터 앞으로 지정을 해준다.

In [50]:
my_salf('이숭무')
my_salf('이숭무', 40)
my_salf('이숭무', man = True)

나의 이름은 이숭무입니다.
나의 나이는 35살입니다.
나는 남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 40살입니다.
나는 남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35살입니다.
나는 남자입니다.

In [52]:
### lambda함수 : 함수명을 마치 변수처럼 사용하는 것
def add(a, b):
    return a + b

In [58]:
result  = add(3, 4)
print(result)

7

In [56]:
add = lambda a, b : a + b

In [59]:
result = add(3, 4)
print(result)

7

In [60]:
def add(a, b):
    print( a + b )

In [61]:
add(3, 4)

7

In [62]:
add = lambda a, b : print( a + b )

In [63]:
add(3, 4)

7

In [65]:
def calc(opt , a, b):
    if opt == 'add':
        return a + b
    else:
        return a - b

In [ ]:
if opt == 'add':
    message =  a + b
else:
    message = a - b
message =  a + b if opt == 'add' else a - b

In [66]:
result = calc("add" , 3, 8)
print(result)

11

In [67]:
calc = lambda  opt , a, b : a + b if opt == 'add' else a - b

In [68]:
result = calc("add" , 3, 8)
print(result)

11

In [ ]:
opt = 'add' ; a = 10 ; b = 20
if opt == 'add':
    result = a + b
elif opt == 'sub':
    result = a - b
elif opt == 'mul':
    result = a * b
else:
    result = a / b

In [ ]:
# 파이썬타입
result = a + b if opt == 'add' else (
         a - b if opt == 'sub' else (
         a * b if opt == 'mul' else
         a / b
         )
    )

In [70]:
def calc(opt , a, b):
    if opt == 'add':
        return a + b
    elif opt == 'sub':
        return a - b
    elif opt == 'mul':
        return a * b
    else:
        return a / b

In [ ]:
result = calc("add", 10, 20)
print(result)

In [73]:
calc = lambda opt , a, b : a + b if opt == 'add' else(
                           a - b if opt == 'sub' else(
                           a * b if opt == 'mul' else
                           a / b ))

In [74]:
result = calc("add", 10, 20)
print(result)

30

In [76]:
def add(a , b = 4):
    print(a + b)

In [77]:
add(3, 6)

9

In [78]:
add = lambda  a , b = 4 : print(a + b)

In [79]:
add(3, 6)

9

In [ ]:
# 전역변수 : 멤버변수  : 프로그램 내에 있는 변수, 프로그램내에 어디서든 사용가능한 변수
#                       함수 안에서 사용가능
# 지역변수 : 메서드안에 있는 변수 : 함수안에 변수

In [80]:
b = 1 # 전역변수
def test3():
    b = 100 # 지역변수
    c = 200
    print("함수안에서 실행 된 변수 b : ", b )
    print("함수안에서 실행 된 변수 c : ", c )

In [82]:
print(b)
test3()
print(b)

1
함수안에서 실행 된 변수 b :  100
함수안에서 실행 된 변수 c :  200
1

In [84]:
b = 1 # 전역변수
def test3():
    global b
    b = 100 # 전역변수
    c = 200
    print("함수안에서 실행 된 변수 b : ", b )
    print("함수안에서 실행 된 변수 c : ", c )

In [85]:
print(b)
test3()
print(b)

1
함수안에서 실행 된 변수 b :  100
함수안에서 실행 된 변수 c :  200
100

In [ ]:
##파일 입출력 : open()
#open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
f = open(encoding="utf-8", file="test.txt", mode="w")

In [90]:
# f = open("C:/Users/sdedu/Desktop/python/test.txt" , "w", encoding="utf-8")
# f = open("C:\\Users\\sdedu\\Desktop\\python\\test.txt" , "w", encoding="utf-8")
f = open("test.txt" , "w", encoding="utf-8") # w: overrite

In [91]:
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.close()

In [92]:
f = open("test.txt" , "a", encoding="utf-8")

In [93]:
for i in range(6 , 11):
    f.write(f"{i}번째 줄입니다.\n")
f.close()

In [94]:
f = open("test.txt", encoding="utf-8" )

In [102]:
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [105]:
f = open("test.txt", encoding="utf-8" )
while True:
    line = f.readline()
    if  not line: # line == "" : # line.equals(""): # not "" : not False : True 
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
f = open("test.txt","r", encoding="utf-8" )
lines = f.readlines()
print(lines)
print("".join(lines))
f.close()

In [ ]:
f = open("test.txt", encoding="utf-8", mode="r" )
data = f.read()
f.close()
print(data)

In [109]:
with  open(mode = "w" , file="test.txt", encoding="utf-8" ) as f:
    for i in range(11, 16):
        f.write(f"{i}번째 줄입니다.\n")

In [ ]:
with  open(file="test.txt", encoding="utf-8" ) as f:
    lines = f.readlines()
print("".join(lines))

In [113]:
with  open(mode = "a" , file="test.txt", encoding="utf-8" ) as f:
    for i in range(16, 21):
        f.write(f"{i}번째 줄입니다.\n")

In [ ]:
with  open(file="test.txt",  mode="r", encoding="utf-8" ) as f:
    data = f.read()
print(data)

In [115]:
# class : 변수 , 그 변수를 사용한 함수를 하나로 묶은 것
b = 1
def test3():
    global b
    b = 100
    c = 200
    print("함수 내에서 실행되는 b변수 : " , b)
    print("함수 내에서 실행되는 c변수 : " , c)

In [ ]:
print(b)
test3()
print(b)

In [118]:
class TestClass:
    b = 1
    def test3(self): # 메서드
        self.b = 100
        c = 200
        print("함수 내에서 실행되는 b변수 : " , b)
        print("함수 내에서 실행되는 c변수 : " , c)

In [121]:
a = TestClass()
print(a.b)
a.test3()
print(a.b)

1
함수 내에서 실행되는 b변수 :  100
함수 내에서 실행되는 c변수 :  200
100

In [124]:
class Calculator:
    result = 0
    first = 0
    second = 0
    def setData(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [125]:
calc = Calculator()
print(calc.first)
calc.setData(10, 20)
print(calc.first)

0
10

In [126]:
class Calculator:
    def setData(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [129]:
calc = Calculator()
#print(calc.first)
calc.setData(10,20)
print(calc.first)
y = calc.add()
print(y)

10
30

In [136]:
class Calculator:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result

In [137]:
calc = Calculator(10, 20)
print(calc.first)
y = calc.add()
print(y)

10
30

In [140]:
calc1 = Calculator(0 , 10) # 0 / 10 : 부정
print(calc1.first)
print(calc1.second)
y = calc1.div()
print(y)

0
10
0.0

In [144]:
calc2 = Calculator(10, 0)
print(calc2.first) # 10
print(calc2.second) # 0
#y = calc2.div() # 10 / 0 : 불능

10
0

In [145]:
class FourCal(Calculator):
    
    '''
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        self.result = self.first + self.second
        return self.result
    def div(self):
        self.result = self.first / self.second
        return self.result
    '''
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result

In [149]:
fCal = FourCal(10, 20)
y = fCal.add()
print(y)
y = fCal.sub()
print(y)
y = fCal.div()
print(y)

30
-10
0.5

In [154]:
fCal1 = FourCal(10, 0)
y = fCal1.add()
print(y)
y = fCal1.sub()
print(y)
# y = fCal1.div()

10
10

In [155]:
class FourCal(Calculator):
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result
    def div(self): # 오버라이드 override :재정의
        if self.second == 0:
            self.result = 0
        else:
            self.result = self.first / self.second
        return self.result

In [156]:
fCalc2 = FourCal(10 , 0)
y = fCalc2.div()
print(y)

0