In [10]:
# 기본 자료형 : 리터널 : 자연어 : 문자열 : "a", 'a', """a""", '''a''', "10", a:변수, 
#                       자연수 : 정수 , 실수, 지수 : 10, 10.5
# 파이썬 자료형 : 리스트 : [] , [1,2,3,4] :정수형 리스트, ['미','숭'] :문자열 리스트
#                튜플   : () , (1,2,3,4) :정수형 튜플, ('미','숭') :문자열 튜플
#                딕셔너리(사전) : json : 키와 값을 쌍으로 사용하는 것 , map :자바
#                 json : {키1 : 값1, 키2:값2,..., 키n:값n}
l = [] #  빈 리스트
t = () # 빈 튜플
dic = {} # 빈 딕셔너리 
dic = {"name" : "이숭무", "old" : 35 , "height" : 176.5}
print(dic)
l = ['이숭무',35,176.5]
#    0        1    2 
print(l[0])        # [index]
print(dic['name']) # [키]
print(l[1])
print(dic['old'])
print(l[2])
print(dic['height'])
dic1 = {1: '이', 0:'숭' , 2 : '무'} # 키가 정수가 될 수 있다.
#         0        1         2
# 키와 index가 혼재되면 오류가 발생할 수 있으므로 index를 사용하지 않는다.
print(dic1[1]) # [키]

{'name': '이숭무', 'old': 35, 'height': 176.5}
이숭무
이숭무
35
35
176.5
176.5
이

In [15]:
print("이숭무의 나이는 30살이고 키는 175.5입니다")
name = '이숭무'
old = 30
height = 173.5
print(f"{name}의 나이는 {old}살이고 키는 {height}입니다")

dic = {'name': '이숭무', 'old': 35, 'height': 176.5}
print(dic)
print(f"{dic['name']}의 나이는 {dic['old']}살이고 키는 {dic['height']}입니다")

l = ['이숭무', 30, 173.5]
print(f"{l[0]}의 나이는 {l[1]}살이고 키는 {l[2]}입니다")
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (l[0], l[1], l[2]))
print("{0}의 나이는 {1}살이고 키는 {2}입니다".format(l[0], l[1], l[2]))

이숭무의 나이는 30살이고 키는 175.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다
{'name': '이숭무', 'old': 35, 'height': 176.5}
이숭무의 나이는 35살이고 키는 176.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다

In [25]:
l = ['이숭무', 30, 173.5]
#       0      1     2
print(l[1])
dic = {'name': '이숭무', 'old': 35, 'height': 176.5}
print(dic['old'])
l[1] = 40
print(l)
dic['old'] = 40 # 키가 있는 경우 수정 # 키의 중복을 허용하지 않으므로 수정이 된다.
print(dic)
#print(l[3]) # list index out of range
#l[3] = '성남' # list assignment index out of range
dic['addr'] = '성남' # 키가 없는 경우에는 추가
print(dic)
# 딕셔너리는 키가 있으면 수정이 되고 키가 없으면 추가가 된다.
d1 = {1 : '이', 1 : '숭'}
print(d1)
# 키의 중복을 허용하지 않는다.
d1 = {1 : '이'}
d1[1] = '숭'
print(d1)
# 딕셔너리는 index를 사용하지 않으므로 indexing과 slicing을 할 수 없다.
# indexing과 slicing을 할 수 있는 자료형은 문자열, 리스트, 튜플

30
35
['이숭무', 40, 173.5]
{'name': '이숭무', 'old': 40, 'height': 176.5}
{'name': '이숭무', 'old': 40, 'height': 176.5, 'addr': '성남'}
{1: '숭'}
{1: '숭'}

In [34]:
# 딕셔너리 함수 
dic = {'name': '이숭무', 'old': 40, 'height': 176.5, 'addr': '성남'}
l = [1,2,3,4]
# 요소 삭제
del l[1]
print(l)
del dic['old']
print(dic)
print(l[0:2])
del l[0:2] # slicing을 이용해서 삭제할 수 있다.
#### 모두 삭제하기
print(l)
print(l[:])
del l[:]
print(l)
l.clear()
print(dic)
dic.clear()
print(dic)

[1, 3, 4]
{'name': '이숭무', 'height': 176.5, 'addr': '성남'}
[1, 3]
[4]
[4]
[]
{'name': '이숭무', 'height': 176.5, 'addr': '성남'}
{}

In [43]:
# 딕셔너리에 있는 키를 가져오기
dic = {'name': '이숭무', 'old': 40, 'height': 176.5, 'addr': '성남'}
print(dic.keys())
# 딕셔너리에 있는 값을 가져오기
print(dic.values())
# 키와 값을 쌍으로 묶어서 가져오기
print(dic.items())
lkeys =  list(dic.keys())
print(lkeys)
lvalues = list(dic.values())
print(lvalues)
litems = list(dic.items())
print(litems) # [('name', '이숭무'), ('old', 40), ('height', 176.5), ('addr', '성남')]
print(litems[0])
print(litems[0][1])

dict_keys(['name', 'old', 'height', 'addr'])
dict_values(['이숭무', 40, 176.5, '성남'])
dict_items([('name', '이숭무'), ('old', 40), ('height', 176.5), ('addr', '성남')])
['name', 'old', 'height', 'addr']
['이숭무', 40, 176.5, '성남']
[('name', '이숭무'), ('old', 40), ('height', 176.5), ('addr', '성남')]
('name', '이숭무')
이숭무

In [57]:
# get()함수 사용하기
dic = {'name': '이숭무', 'old': 40, 'height': 176.5}
print(dic['name'])
print(dic.get('name'))
#print(dic['addr']) # KeyError: 'addr'
print(dic.get('addr')) # None
print(dic.get('addr' , '서울')) # 키가 없는 경우 초기값을 지정해 줄 수 있다.

### get()함수 응용
d1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
d2 = {'classic':500, 'pop' : 700 }
print(d1['classic']) # 정수
print(d2['classic']) # 정수
print(d1['classic'] + d2['classic']) # 정수 + 정수
print(d1['pop'] + d2['pop']) 
# print(d1['jazz'] + d2['jazz']) # 키가 없는 경우 오류가 발생
print(d1.get('jazz' , 100) + d2.get('jazz', 100))
print(d1.get('classic' , 100) + d2.get('classic', 100))
print(d1.get('pop' , 100) + d2.get('pop', 100))

이숭무
이숭무
None
서울
500
500
1000
1400
1000
1000
1400

In [64]:
# 파이썬 자료형 : 리스트, 튜플, 딕셔너리, 집합
#  빈집합은 없다.
ss = {} # 빈 딕셔너리
ss = {1,2,3,4,5} # {}에 값만 존재하면 집합자료형이다.
print(ss)
# 집합자료형에는 합집합(union)연산과 교집합(intersect) 연산 그리고 차집합(difference)연산을 한다.  
s1 = {1,2,3,4,5}  
s2 = {4,5,6,7,8}
# 합집합 ( union)
print(s1.union(s2))
print(s1 | s2)
# 교집합 (intersection)
print(s1.intersection(s2))
print(s1 & s2)
# 차집합
print(s1 - s2) # 교집합을 제거
print(s1.difference(s2))
print(s2-s1)
print(s2.difference(s1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [78]:
ss = {1,1,2,2,3,3,4,4,5,5} # 집합자료형은 중복 데이터를 허용하지 않는다.
print(ss)
l = list(ss) # 집합자료형을 리스트
print(l)
t = tuple(ss) 
print(t)
str1 = str(ss)
print(str1 + "a")
ss = {'이', '숭', '무'} # 집합자료형은 순서가 없다.
print(ss)
print("".join(ss))
l = [1,2,3,4,5]
s2 = set(l)
print(s2)
t  = (1,2,3,4,5)
s3 = set(t)
print(s3)
# 형변환 함수 : int, str, list, tuple, set, float
str1 = "hello"
print(str1)
s4 = set(str1)
print(s4) # {'l', 'h', 'e', 'o'} # 순서가 없다. 중복을 허용하지 않는다.

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}a
{'숭', '무', '이'}
숭무이
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
hello
{'l', 'h', 'e', 'o'}

In [85]:
# 하나의 요소 추가
# add
s1 = {1,2,3,4}
s1.add(4)
print(s1)
s1.add(7)
print(s1)
s1.add('a')
print(s1)
# 여러개의 데이터를 한번에 추가
# update
s1.update((8,9,10))
print(s1)
s1.update([11,12,13])
print(s1)
# 삭제
s1.remove('a')
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 'a'}
{1, 2, 3, 4, 7, 8, 9, 10, 'a'}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 'a', 12, 13}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13}

In [94]:
# 기본자료 : 정수, 실수, 문자열, 부울 : True/False
# 파이썬자료형 : 리스트, 튜플, 딕셔너리, 집합
i = 10
f = 10.5
str1 = "이숭무"
l = [1,2,3,4,5]
t = (1,2,3,4,5)
dic = {1:'이', 2: '숭'}
s1 = {1,2,3,4}
b1 = True
b2 = False
b3 = "true"
#b3 = true #  name 'true' is not defined
# 데이터의 자료형을 알고 싶을 때 : type()함수
print(type(i)) # <class 'int'> : 정수
print(type(f)) # <class 'float'> :실수
print(type(l)) # <class 'list'> :리스트
print(type(t)) # <class 'tuple'> :튜플
print(type(dic)) # <class 'dict'> : 딕셔너리
print(type(s1)) # <class 'set'> : 집합
print(type(b1)) # <class 'bool'> : 부울
print(type(b2)) # <class 'bool'> : 부울

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'bool'>

In [107]:
# 부울 타입을 사용하는 때 : and, or
# 논리연산
result = True and True
print(result)
result = True or False
print(result)
# 결과값이 부울 타입인 경우에 사용 : 비교(관계)연산
i = 10
j = 20
result = i < 20 # 비교연산의 결과는 부울타입이다.
print(result)
# 논리연산을 하기위해서 비교연산과 같이 상용한다.
# 모든 과목이 40점이상이고 평균이 60이면 True 아니면 False
eng  = 40
kor = 80
result = eng >= 40 and kor >= 40 and (eng + kor) / 2 >= 60
print(result)
if eng >= 40 and kor >= 40 and (eng + kor) / 2 >= 60:
    print("합격")
else:
    print("불합격")
# 윤년과 평년을 구하시오, 
# 4년마다 윤년이고 100 년마다는 평년이며 400년마다 윤년이다.
#year = 2000은 평년일까? 윤년일까? True이면 윤년
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result) # True
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

True
True
True
True
합격
False
평년

In [125]:
# 변환한수 : int, str, list,tuple, set, bool:참/거짓
i = 10
print(type(str(i))) # <class 'str'>
print(type(i)) # <class 'int'>
print(str(i)) # "10"
print(bool(i)) # True
print(bool("이숭무")) # True : blank("")가 아닌 모든 문자열은 True이다.
print(bool("")) # False
print(bool(1)) # 0을 제외한 음수이거나 양수 모두  True이다
print(bool(-1)) 
print(bool(0)) # False
print(bool([])) # False
print(bool([1,2,3]))
print(bool(()))  # False
print(bool((1,2,3,4))) 
print(bool({})) # False
print(bool({1:'이'}))
print(bool({1,2,3,4}))
print(bool(None)) # False

<class 'str'>
<class 'int'>
10
True
True
False
True
True
False
False
True
False
True
False
True
True
False

In [127]:
# 값 서로 교환하기
i = 100
j = 20
# i가 가진값을 j 에게 주고 j가 가진 값을 i에게 저장
temp = i
i = j
j = temp
print(i, j)
#### 파이썬으로는
i, j = j, i
print(i, j)

20 100
100 20

In [138]:
x , y = 10, 20
print(x, y)
t = 1,2,3,4
print(t)
x , y = (10, 20)
print(x, y)
(x , y) = (10, 20)
print(x, y)
(x , y) = 10, 20
print(x, y)
[x , y] = 10, 20
print(x, y)
[x , y] = (10, 20)
print(x, y)
[x , y] = [10, 20]
print(x, y)
x, y, z = 10,20,30
print(x,y,z)
'''
x, y, z = 10,20
print(x,y,z)

x, y = 10,20,30
print(x,y,z)
'''

10 20
(1, 2, 3, 4)
10 20
10 20
10 20
10 20
10 20
10 20
10 20 30

ValueError: too many values to unpack (expected 2)

In [153]:
# in연산자 : 포함되어 있을 때
print( 1 in [1,2,3,4])
print( 7 in [1,2,3,4])
l = [1,2,3,4]
print( 1 in l )
print( 7 not in l )
print( 1 not in l )
print( 'y' in 'python')
str1 = "hello"
print( "he" in str1)
print( "이숭무" not in str1)
print( "he" not in str1)
print( 1 in (1,2,3,4,5))
print( 1 not in (1,2,3,4,5))
dic = {1: '이' , 2:'숭' , 3 :'무'}
print( 1 in dic) # 키가 있는 확인
print( 4 in dic) # False
print( 4 not in dic)

True
False
True
True
False
True
True
True
False
True
False
True
False
True

In [155]:
if 1 in [1,2,3,4]:
    print("리스트에 1이 포함되어 있다.")
else:
    print("리스트에 1이 포함되어 있지 않다")
l = [1,2,3,4]
if 1 not in l:
    print("리스트에 1이 포함되어 있지 않다")
else:
    print("리스트에 1이 포함되어 있다")

리스트에 1이 포함되어 있다.
리스트에 1이 포함되어 있다

In [164]:
i = 10
if i > 20:
    print("i가 큽니다")
else:
    print("i는 작다")    

if i < 20:
    print("i는 작다")    
# 파이썬에서는 명령문을 작성 할 때는  들여쓰기를 해야 한다.
# 들여 쓰기는 공백문자를 이용하거나 TAB키를 이용할 수 있다.
# 하지만 두개를 혼용해서 사용할 수 없다. 하나만 선택해서 사용한다.
if i < 20:
    print("i가 작다")
    print("참일때 실행")
if i > 20:
    pass
print("i가 큽니다")

i는 작다
i는 작다
i가 작다
참일때 실행
i가 큽니다

In [165]:
# 학점(score)이 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 그렇지 않으면 F
score = 78
if score >= 90:
    print("A")
else: # 89 이하
    if score >= 80:
        print("B")
    else: # 79이하
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else:
                print("F")

C

In [166]:
score = 78
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

C

In [ ]:
# 95점 이상은 A+, 90이상은 A
# 85점 이상은 B+, 80이상은 B
# 75점 이상은 C+, 90이상은 C
# 65점 이상은 D+, 60이상은 D
score = 78
if score >= 90:
    if score >= 95:
        print("A+")
    else:
        print("A")
elif score >= 80:
    if score >= 85:
        print("B+")
    else:
        print("B")
elif score >= 70:
    if score >= 75:
        print("C+")
    else:
        print("C")
elif score >= 60:
    if score >= 65:
        print("D+")
    else:
        print("D")
else:
    print("F")

In [168]:
# score가 60 이상이면 message에 success를 저장하고  아니면 failure를 저장하자.
score = 78
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)
# 파이썬 타입으로 변경
message = "success" if score >= 60 else "failure"
print(message)

success
success

In [170]:
score = 78
if score >= 90:
    message = "A"
else: 
    if score >= 80:
        message = "B"
    else: 
        if score >= 70:
            message = "C"
        else:
            if score >= 60:
                message = "D"
            else:
                message =  "F"       
print(message)
message = "A" if score >= 90 else(
          "B" if score >= 80 else(
          "C" if score >= 70 else(    
          "D" if score >= 60 else
          "F"
          )))
print(message)

C
C

In [171]:
a = 10 ; b = 20 ; opt = "add"
if opt == "add":
    message = a + b
elif opt == "sub":
    message = a -b
elif opt == "mul":
    message = a * B
else:
    message = a / b
print(message)
# 파이썬 타입
message = a + b if opt == "add" else(
          a - b if opt == "sub" else( 
          a * B if opt == "mul" else(          
          a / b
          )))

30

In [ ]:
# 반복문  :반복적으로 사용해야하는 명령어
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")

In [174]:
i = 1
while i <= 10:
    #print(f"나무를 {i}번 찍었습니다.")
    #print("나무를 %d번 찍었습니다." % i)
    print("나무를 {}번 찍었습니다.".format(i))
    i += 1 # 대입 연산자

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [177]:
# 8단
print(f" 8 * 1 = {8 * 1}")
print(f" 8 * 2 = {8 * 2}")
#...
print(f" 8 * 9 = {8 * 9}")
gop = 1
while gop <= 9:
    print(f" 8 * {gop} = {8 * gop}")
    gop += 1

 8 * 1 = 8
 8 * 2 = 16
 8 * 9 = 72
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [179]:
start =  int(input("시작곱을 숫자를 입력해 주세요. : "))
end = int(input("마지막곱을 숫자를 입력해 주세요. : "))
gop = start
while gop <= end:
    print(f" 8 * {gop} = {8 * gop}")
    gop += 1

시작곱을 숫자를 입력해 주세요. :  2
마지막곱을 숫자를 입력해 주세요. :  7

 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56

In [181]:
start =  int(input("시작곱의 숫자를 입력해 주세요. : "))
end = int(input("마지막곱의 숫자를 입력해 주세요. : "))
dan = int(input("원하는 단의 숫자를 입력해 주세요. : "))
gop = start
while gop <= end:
    print(f" {dan} * {gop} = {dan * gop}")
    gop += 1

시작곱의 숫자를 입력해 주세요. :  2
마지막곱의 숫자를 입력해 주세요. :  5
원하는 단의 숫자를 입력해 주세요. :  5

 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25

In [206]:
import random
# 로또
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1 
size = len(lotto) # 45
cnt = 1
while cnt <= 6:
    size -= 1
    idx = random.randint(0, size) 
    result = lotto.pop(idx) # 0 ~ 44
    print(result, end =", " )
    cnt += 1

20, 7, 22, 35, 45, 26,

In [ ]:
#3단
i = 1
while i <= 9:
    print(f"3 * {i} = {3 * i}")
    i += 1
# 4단
i = 1
while i <= 9:
    print(f"4 * {i} = {4 * i}")
    i += 1
# 5단
i = 1
while i <= 9:
    print(f"5 * {i} = {5 * i}")
    i += 1

In [ ]:
dan = 3
while dan <= 5:
    gop = 1
    while gop <= 9:
        print(f"{dan} * {gop} = {dan * gop}")
        gop += 1
    dan += 1

In [212]:
startDan = int(input("시작단을 숫자로 입력해 주세요. : "))
endDan = int(input("마지막단을 숫자로 입력해 주세요. : "))
startGop = int(input("시작곱을 숫자로 입력해 주세요. : "))
endGop = int(input("마지막곱을 숫자로 입력해 주세요. : "))
dan = startDan
while dan <= endDan:
    gop = startGop
    while gop <= endGop:
        print(f"{dan} * {gop} = {dan * gop}")
        gop += 1
    dan += 1

시작단을 숫자로 입력해 주세요. :  2
마지막단을 숫자로 입력해 주세요. :  5
시작곱을 숫자로 입력해 주세요. :  3
마지막곱을 숫자로 입력해 주세요. :  5

2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [224]:
import random
lottoCnt = int(input("로또 구매 수량을 입력해 주세요. : "))
qty= 1
while qty <= lottoCnt:
    lotto = []
    i = 1
    while i <= 45:
        lotto.append(i)
        i += 1 
    size = len(lotto) # 45
    cnt = 1
    while cnt <= 6:
        size -= 1
        idx = random.randint(0, size) 
        result = lotto.pop(idx) # 0 ~ 44
        print(result, end =", " )
        cnt += 1
    print()
    qty += 1

로또 구매 수량을 입력해 주세요. :  3

19, 45, 5, 39, 18, 1,
26, 10, 37, 35, 14, 31,
11, 38, 32, 45, 18, 24,